@import "colors.css";

* {
  font-family: Material Design Icons, Iosevka, Symbols Nerd Font;
  font-size: 11pt;

  border: none;
  border-radius: 0pt;

  color: @text;

  min-height: 0pt;
  margin: 0pt;
  padding: 0pt;

  transition: all 0.3s ease-in-out;
}

window#waybar {
  background: alpha(@base, 0.4);
}

.modules-left {
  margin-left: -8pt;
}

.modules-right {
  margin-right: 4pt;
}

.module {
  margin: 2pt 2pt;
  padding: 2pt 10pt;

  border-radius: 4pt;
}

#workspaces {
  margin-left: 0pt;
  margin-right: 0pt;
  padding-right: 0pt;
}

#workspaces button {
  background: alpha(@surface0, 0.5);
  border-radius: 4pt;

  min-width: 10pt;

  margin: 0pt 4pt 0pt 0pt;
  padding: 1pt 5pt;

  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background: alpha(@surface2, 0.8);
}

#workspaces button.urgent {
  background: alpha(@yellow, 0.8);
}

#workspaces button.urgent label {
  color: @crust;
}

#clock.time {
  background: @sapphire;
  color: @crust;
}

#clock.date {
  background: @teal;
  color: @crust;
}

#custom-updates {
  background: @yellow;
  color: @crust;
}

#custom-yubikey {
  background: @peach;
  color: @crust;
}

#systemd-failed-units {
  background: @really-red;
}

#bluetooth {
  background: @base;
}

#bluetooth.connected {
  background: @green;
  color: @crust;
}

#bluetooth.no-controller {
  background: @really-red;
}

#wireplumber {
  background: @flamingo;
  color: @crust;
  min-width: 28pt;
}

#wireplumber.muted {
  background: @lavender;

}

#custom-notifications.none,
#custom-notifications.dnd-none,
#custom-notifications.inhibited-none,
#custom-notifications.dnd-inhibited-none {
  background: alpha(@surface0, 0.5);
  color: @text;
}

#custom-notifications.notification,
#custom-notifications.dnd-notification,
#custom-notifications.inhibited-notification,
#custom-notifications.dnd-inhibited-notification {
  background: @mauve;
  color: @crust;
}

#tray > .needs-attention {
  background: @yellow;
  border-radius: 4pt;
  -gtk-icon-effect: highlight;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#group-power label {
  font-size: 13pt;
}

#group-power .drawer .module {
  margin-left: 0pt;
  margin-right: 0pt;
  padding-left: 10pt;
  padding-right: 10pt;
}

/* vim: set ft=css ts=2 sw=2: */
